﻿@model _05.Razor.Models.StudentListModel;

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>View</title>
    <style>
        td {
            padding: 5px;
            font-size: medium;
            text-align: center;
        }
        td.header {
            font-weight: bold;
        }
        table {
            margin: 20px 0;
            width: 100%;
            border: 1px solid gray;
        }
    </style>
</head>
<body>
    @if (Model.Students.Count > 0) {
        <table>
            <tr>
                <td class="header">ID</td>
                <td class="header">Name</td>
                <td class="header">Surname</td>
                <td class="header">Group</td>
                <td class="header">Course</td>
            </tr>
            @foreach (StudentModel student in Model.Students.Values)
            {
                <tr>
                    <td><a href="my/details?id=@student.Id">@student.Id</a></td>
                    <td>@student.Name</td>
                    <td>@student.Surname</td>
                    <td>@student.Group</td>
                    <td>@student.Course</td>
                </tr>
            }
        </table>
    }
    else
    {
        <br />
        <h4>There is no students.</h4>
    }
    <br />
    <a href="my/create">Create</a>
</body>
</html>
