﻿@model _06.DependencyInjection.Models.StudentModel

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Student</title>
</head>
<body>
    <h1>
        Student
    </h1>
    <h4>ID:</h4>@Model.Id
    <h4>Name:</h4>@Model.Name
    <h4>Surname:</h4>@Model.Surname
    <h4>Group:</h4>@Model.Group
    <h4>Course:</h4>@Model.Course
    <h4>
        <a href="edit?id=@Model.Id">Edit</a>
    </h4>
    <h4>
        <a href="delete?id=@Model.Id">Delete</a>
    </h4>
</body>
</html>
