﻿@model _07.EF1.Models.StudentModel

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Edit student</title>
</head>
<body>
    <h1>
        Edit student
    </h1>
    <form method="post" action="/home/edit?id=@Model.Id">
        <h4>Name:</h4><input name="name" />
        <h4>Surname:</h4><input name="surname" />
        <h4>Group:</h4><input name="group" />
        <h4>Course:</h4><input type="number" name="course" min="1" max="4"/>
        <br />
        <br />
        <input type="submit" value="Edit" />
    </form>
</body>
</html>
