﻿@model _06.DependencyInjection.Models.StudentModel

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Create student</title>
</head>
<body>
    <h1>
        Create student
    </h1>
    <form method="post">
        <h4>Name:</h4><input name="name" />
        <h4>Surname:</h4><input name="surname" />
        <h4>Group:</h4><input name="group" />
        <h4>Course:</h4><input type="number" name="course" min="1" max="4" />
        <br />
        <br />
        <input type="submit" value="Create" />
    </form>
</body>
</html>
