﻿@model _07.EF1.Models.StudentModel

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Edit student</title>
</head>
<body>
    <h1>
        Delete student
    </h1>
    <h2>
        Do you really want to delete this student?
    </h2>
    <form method="post" action="/home/delete?id=@Model.Id">
        <h4>
            Enter his name to confirm:
        </h4>
        <input name="name" />
        <br />
        <br />
        <input type="submit" value="Delete" />
    </form>
</body>
</html>
